<nav>
  <div class="nav-items">
    <app-nav appRipple link="/">Home</app-nav>
    <app-nav appRipple link="/docs">Docs</app-nav>
    <app-nav appRipple link="/docs/callbacks" [padded]="true">
      Callbacks
    </app-nav>
    <app-nav appRipple link="/docs/character" [padded]="true">
      Character
    </app-nav>
    <app-nav appRipple link="/docs/events" [padded]="true">Events</app-nav>
    <app-nav appRipple link="/docs/main" [padded]="true">Main</app-nav>
    <app-nav appRipple link="/docs/nuicallbacks" [padded]="true">
      Nuicallbacks
    </app-nav>
    <app-nav appRipple link="/docs/player" [padded]="true">Player</app-nav>
    <app-nav appRipple link="/docs/utils" [padded]="true">Utils</app-nav>
    <app-nav appRipple link="/about">About</app-nav>
  </div>
</nav>
